* {
	margin: 0 auto;
	padding: 0;
}

body {
	background: #f3f3f3;
}

body, h1, h2, h3, h4, h5, h6, p, div, span, a, button {
	font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, 'sans-serif';
	line-height: 1.5;
}

a {
	color: #016aba;
	text-decoration: none;
}

header {
	height: 100px;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
	background: #00cc99;
}

footer {
	clear: both;
	padding: 10px 20px;
	margin-top: 600px;
	background-color: #777;
}

footer p {
	color: #fff;
	text-align: justify;
	letter-spacing: 3px;
	
}

.container {
	max-width: 1920px;
	min-height: 100vh;
	background: #f9f9f9;
	margin: 0 auto;
}

.wrapper {
	max-width: 900px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.left {
	text-align: center;
	float: left;
}

.right {
	margin-left: 30px;
	text-align: center;
	float: right;
}

table {
	margin-bottom: 30px;
}

.box {
	width: 100px;
	height: 100px;
	font-weight: bold;
	font-size: 40px;
	border: 1px dotted #999;
	padding-top: 20px;
	margin: 0 20px;
}

.top-left {background-color: #FFD5FF;}
.top-right {background-color: #92D1C3;}
.bottom-left {background-color: #C8F035;}
.bottom-right {background-color: #F9CB40;}

#rightFirstInput, #rightSecondInput, #bottomFirstInput, #bottomSecondInput {
	width: 100px;
	height: 100px;
	padding: 10px 0 0 20px;
	font-weight: bold;
	font-size: 40px;
}

#rightFirstInput, #rightSecondInput {
	margin-left: 20px;
}

#submitButton, #resetButton {
	background-color: #60a3bc;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	border-radius: 20px;
	transition: all 0.4s ease 0s;
}

#submitButton {
	width: 300px;
	height: 100px;
}

#resetButton {
	width: 100px;
	height: 100px;
}

#submitButton:hover, #resetButton:hover {
	background: #434343;
	border-color: #f6b93b;
	transition: all 0.4s ease 0s;
}

.downloadButton {
	background-color: #4CAF50; /* Green */
	margin-top: 30px;
	padding: 16px 30px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	display: inline-block;
	transition-duration: 0.5s;
	cursor: pointer;
}

.downloadButton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.downloadButton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.downloadButton:hover span {
	padding-right: 25px;
}

.downloadButton:hover span:after {
	opacity: 1;
	right: 0;
}

#previewScreenshot {
	width:400px;
	height:300px;
	border: 2px solid #999;
	padding: 5px;
}

canvas {
	max-width: 100%;
	max-height: 100%;
}
